<div class="row">

    <div class="col">

        <h1 class="display-4 text-danger text-center">  İlgili Sayfaya Errişiminiz Yoktur   </h1>
        <h1 class="display-4 text-danger text-center">  <i class="fa-solid fa-ban fa-3x"></i>   </h1>

    </div>


</div>
