<form method="post" enctype="multipart/form-data">
    <div class="row">
        <label>Excel Dosaysını Seçiniz</label>
        <input type="file" name="file" />
        <br />
        <div class="row">
            <div class="col-3">
                <input type="submit" asp-controller="Account" asp-action="UploadExcel" class="btn btn-dark" value="Upload Excel File" />
            </div>

        </div>


    </div>
</form>