<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

   
    <title>Tarif Oluşturma Ekranı</title>

    
    <link href="~/register/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/register/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

   
    <link href="~/register/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/register/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

   
    <link href="~/register/css/main.css" rel="stylesheet" media="all">
    <style>
        .close-btn {
            float: right;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
        }

        body {
            background-color: #2c6ed5;
          
            margin: 0;
           
            padding: 0;
          
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid #ddd;
        }

        label[for="TarifAdi"] {
            font-weight: 600;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }

       
        .row {
            margin-bottom: 10px; 
        }

        .form-group {
            margin-right: 10px; 
        }
    </style>
</head>

<body>
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["AlertMessage"]
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    }

    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title text-center">Tarif Ekleme Ekranı</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                    <form method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="TarifAdi">Tarif Adı:</label>
                                    <input type="text" class="form-control" name="TarifAdi" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Malzeme Seç</th>
                                            <th>Miktar</th>
                                            <th>Birim</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var malzeme in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" name="selectedMalzemeler" value="@malzeme.MalzemeID" />
                                                        <label class="form-check-label" for="selectedMalzemeler">@malzeme.MalzemeAdi </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control" name="miktar[@malzeme.MalzemeID]" placeholder="Miktar" />
                                                </td>
                                                <td>
                                                    <select class="form-control" name="birim[@malzeme.MalzemeID]">
                                                        <option value="Gr">Gr</option>                                             
                                                        <option value="Ml">Ml</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-primary" type="submit">Tarif Oluştur</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  
    <script src="~/register/vendor/jquery/jquery.min.js"></script>
    <
    <script src="~/register/vendor/select2/select2.min.js"></script>
    <script src="~/register/vendor/datepicker/moment.min.js"></script>
    <script src="~/register/vendor/datepicker/daterangepicker.js"></script>

  
    <script src="~/register/js/global.js"></script>
</body>

</html>
